<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Merging-data-sets-and-first-cleaning" data-toc-modified-id="Merging-data-sets-and-first-cleaning-1">Merging data sets and first cleaning</a></span></li><li><span><a href="#1.-Listings" data-toc-modified-id="1.-Listings-2">1. Listings</a></span><ul class="toc-item"><li><span><a href="#1.1-Listings-April-2020" data-toc-modified-id="1.1-Listings-April-2020-2.1">1.1 Listings April 2020</a></span></li><li><span><a href="#1.2-Listings-April-2021" data-toc-modified-id="1.2-Listings-April-2021-2.2">1.2 Listings April 2021</a></span></li><li><span><a href="#1.3.-Listings-dec-2018" data-toc-modified-id="1.3.-Listings-dec-2018-2.3">1.3. Listings dec 2018</a></span></li><li><span><a href="#1.4.-Listings-dec-2020" data-toc-modified-id="1.4.-Listings-dec-2020-2.4">1.4. Listings dec 2020</a></span></li><li><span><a href="#1.4.-Comparing-the-listings" data-toc-modified-id="1.4.-Comparing-the-listings-2.5">1.4. Comparing the listings</a></span></li><li><span><a href="#1.5.-Put-all-listings-together" data-toc-modified-id="1.5.-Put-all-listings-together-2.6">1.5. Put all listings together</a></span></li><li><span><a href="#1.6.-Add-district-codes-to-the-neigbourhoods" data-toc-modified-id="1.6.-Add-district-codes-to-the-neigbourhoods-2.7">1.6. Add district codes to the neigbourhoods</a></span></li><li><span><a href="#1.7.-Finishing-to-clean-dataset-and-export" data-toc-modified-id="1.7.-Finishing-to-clean-dataset-and-export-2.8">1.7. Finishing to clean dataset and export</a></span></li></ul></li><li><span><a href="#2.-Reviews" data-toc-modified-id="2.-Reviews-3">2. Reviews</a></span><ul class="toc-item"><li><span><a href="#2.1.-April-2021" data-toc-modified-id="2.1.-April-2021-3.1">2.1. April 2021</a></span></li></ul></li><li><span><a href="#3.-Calendar" data-toc-modified-id="3.-Calendar-4">3. Calendar</a></span><ul class="toc-item"><li><span><a href="#3.1.-Calendar-2020-2021" data-toc-modified-id="3.1.-Calendar-2020-2021-4.1">3.1. Calendar 2020-2021</a></span><ul class="toc-item"><li><span><a href="#3.1.1.-Merge-both-calendar-of-2020-2021-and-change-dates-to-datetype-variable" data-toc-modified-id="3.1.1.-Merge-both-calendar-of-2020-2021-and-change-dates-to-datetype-variable-4.1.1">3.1.1. Merge both calendar of 2020-2021 and change dates to datetype variable</a></span></li><li><span><a href="#3.1.2.-Adjusting-rest-of-the-features" data-toc-modified-id="3.1.2.-Adjusting-rest-of-the-features-4.1.2">3.1.2. Adjusting rest of the features</a></span></li><li><span><a href="#3.1.3.-NaN-values-in-price-and-price-adjusted" data-toc-modified-id="3.1.3.-NaN-values-in-price-and-price-adjusted-4.1.3">3.1.3. NaN values in price and price adjusted</a></span></li><li><span><a href="#3.1.4.-Filling-NaN-of-max-and-min-nights-and-export" data-toc-modified-id="3.1.4.-Filling-NaN-of-max-and-min-nights-and-export-4.1.4">3.1.4. Filling NaN of max and min nights and export</a></span></li></ul></li><li><span><a href="#3.2.-Calendar-2019" data-toc-modified-id="3.2.-Calendar-2019-4.2">3.2. Calendar 2019</a></span><ul class="toc-item"><li><span><a href="#3.2.1.-Adjust-type-of-variables" data-toc-modified-id="3.2.1.-Adjust-type-of-variables-4.2.1">3.2.1. Adjust type of variables</a></span></li><li><span><a href="#3.2.1.-Fill-NaN-in-prices" data-toc-modified-id="3.2.1.-Fill-NaN-in-prices-4.2.2">3.2.1. Fill NaN in prices</a></span></li></ul></li></ul></li><li><span><a href="#4.Green-areas-Amsterdam-data" data-toc-modified-id="4.Green-areas-Amsterdam-data-5">4.Green areas Amsterdam data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#4.1.-Add-district-code" data-toc-modified-id="4.1.-Add-district-code-5.0.1">4.1. Add district code</a></span></li><li><span><a href="#4.2.-Subset-with-number-of-parks-per-neighbourhood" data-toc-modified-id="4.2.-Subset-with-number-of-parks-per-neighbourhood-5.0.2">4.2. Subset with number of parks per neighbourhood</a></span></li></ul></li></ul></li><li><span><a href="#5.-Safety-areas-Amsterdam-data" data-toc-modified-id="5.-Safety-areas-Amsterdam-data-6">5. Safety areas Amsterdam data</a></span></li><li><span><a href="#6.-Descriptors-of-the-districs-in-Amsterdam" data-toc-modified-id="6.-Descriptors-of-the-districs-in-Amsterdam-7">6. Descriptors of the districs in Amsterdam</a></span></li><li><span><a href="#7.-Spatial-data" data-toc-modified-id="7.-Spatial-data-8">7. Spatial data</a></span></li></ul></div>

# Merging data sets and first cleaning

# 1. Listings

## 1.1 Listings April 2020

In [69]:
import pandas as pd
import numpy as np

In [70]:
listings_april_20 = pd.read_csv("../data/raw_data/listing_april_20.csv")

In [71]:
listings_april_20.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room,59,3,278,2020-02-14,2.06,1,169
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36509,4.89354,Private room,100,1,340,2020-04-09,2.76,2,106
2,25428,Lovely apt in City Centre (w.lift) near Jordaan,56142,Joan,NaN,Centrum-West,52.37297,4.88339,Entire home/apt,125,14,5,2020-02-09,0.18,1,132
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,155,2,217,2020-03-02,2.15,1,172
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36719,4.89092,Private room,75,2,332,2020-03-16,2.82,3,210

## 1.2 Listings April 2021

In [72]:
listings_april_21 = pd.read_csv("../data/raw_data/listings_april_21.csv")

In [73]:
listings_april_21.tail(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
17815,49065174,Spacious bright apartment in a park in the center,1108072,Shengsheng,NaN,Centrum-Oost,52.36998,4.93158,Entire home/apt,80,2,0,NaN,NaN,1,22
17816,49067950,Spacious and bright app. with 2 sunny balconies!,21511958,NaN,NaN,Bos en Lommer,52.38008,4.84625,Entire home/apt,64,2,0,NaN,NaN,2,18
17817,49068579,Studio apartment in the cultural hart of Amste...,394272978,Edwin,NaN,De Baarsjes - Oud-West,52.36203,4.87561,Entire home/apt,80,3,0,NaN,NaN,1,240
17818,49071379,"""Spacious Modern Home (2-4p), Free parking""",27947934,George,NaN,Gaasperdam - Driemond,52.30355,4.96831,Entire home/apt,52,31,0,NaN,NaN,1,345
17819,49078967,Cozy apartment next to center amsterdam,389785696,Danila,NaN,De Pijp - Rivierenbuurt,52.34147,4.90729,Entire home/apt,100,15,0,NaN,NaN,2,174
17820,49085366,Kloveniers Studio,395882585,Lucas,NaN,Centrum-West,52.37220,4.89926,Private room,47,2,0,NaN,NaN,1,284
17821,49089176,"Prachtig, gerenoveerd appartement in de Pijp!",68481315,Julia,NaN,De Pijp - Rivierenbuurt,52.35416,4.88700,Entire home/apt,200,7,0,NaN,NaN,1,207
17822,49101225,Beautiful luxury loft close to city centre,23204045,Wes,NaN,Oud-Oost,52.35572,4.92440,Entire home/apt,112,1,0,NaN,NaN,1,86
17823,49102514,Cedo Nulli Dutch Holiday Boats,26206455,Dionne,NaN,Buitenveldert - Zuidas,52.33656,4.84835,Entire home/apt,107,1,0,NaN,NaN,1,335
17824,49119460,New amazing 4 person Jordaan Apartment,37752619,Joost,NaN,Centrum-West,52.37466,4.88055,Entire home/apt,94,4,0,NaN,NaN,6,343

In [74]:
listings_april_21.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,59,3,278,2020-02-14,1.90,1,152
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,200,1,339,2020-04-09,2.50,2,0
2,25428,"Lovely, 1 bed apt in Ctr (w.lift) -3/20-6/20(f...",56142,Joan,NaN,Centrum-West,52.37490,4.88487,Entire home/apt,125,14,5,2020-02-09,0.13,2,132
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,141,2,219,2020-07-25,1.94,1,66
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,336,2020-09-20,2.59,2,335
5,29051,Comfortable single room,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,55,2,480,2020-08-28,3.91,2,351
6,41125,Amsterdam Center Entire Apartment,178515,Fatih,NaN,Centrum-West,52.37920,4.88432,Entire home/apt,160,4,89,2020-02-10,0.70,1,0
7,43109,Oasis in the middle of Amsterdam,188098,Aukje,NaN,Centrum-West,52.37366,4.88808,Entire home/apt,211,3,59,2020-01-02,0.46,1,362
8,43980,View into park / museum district (long/short s...,65041,Ym,NaN,Zuid,52.35735,4.86158,Entire home/apt,65,14,61,2018-02-18,0.48,2,164
9,46386,Cozy loft in central Amsterdam,207342,Joost,NaN,De Pijp - Rivierenbuurt,52.35198,4.90746,Entire home/apt,150,3,3,2018-01-03,0.02,1,0

In [75]:
listings_april_21.iloc[8,5]

'Zuid'

In [76]:
listings_april_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17825 entries, 0 to 17824
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17825 non-null  int64
 1   name                            17793 non-null  object
 2   host_id                         17825 non-null  int64
 3   host_name                       17230 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17825 non-null  object
 6   latitude                        17825 non-null  float64
 7   longitude                       17825 non-null  float64
 8   room_type                       17825 non-null  object
 9   price                           17825 non-null  int64
 10  minimum_nights                  17825 non-null  int64
 11  number_of_reviews               17825 non-null  int64
 12  last_review                     15425 non-null  object
 13  reviews_per_month               15425 non-null  float64
 14  calculated_host_listings_count  17825 non-null  int64
 15  availability_365                17825 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.2+ MB

In [77]:
listings_april_21["neighbourhood"].value_counts()

De Baarsjes - Oud-West                    2965
De Pijp - Rivierenbuurt                   2223
Centrum-West                              1982
Centrum-Oost                              1490
Westerpark                                1321
Zuid                                      1321
Oud-Oost                                  1142
Bos en Lommer                             1012
Oostelijk Havengebied - Indische Buurt     837
Oud-Noord                                  586
Watergraafsmeer                            528
IJburg - Zeeburgereiland                   417
Slotervaart                                387
Noord-West                                 364
Noord-Oost                                 248
Buitenveldert - Zuidas                     230
Geuzenveld - Slotermeer                    212
De Aker - Nieuw Sloten                     125
Gaasperdam - Driemond                      117
Osdorp                                     116
Bijlmer-Centrum                            104
Bijlmer-Oost                                98
Name: neighbourhood, dtype: int64

## 1.3. Listings dec 2018

In [78]:
listings_dec_18 = pd.read_csv("../data/raw_data/listings_dec18.csv")

In [79]:
listings_dec_18["id"].nunique()

20030

In [80]:
listings_dec_18.shape

(20030, 16)

## 1.4. Listings dec 2020

In [81]:
listings_dec_20 = pd.read_csv("../data/raw_data/listings_dec20.csv")

In [82]:
listings_dec_20.shape

(18522, 16)

## 1.4. Comparing the listings

In [83]:
listings_april_20["id"].nunique()

19362

In [84]:
listings_april_21["id"].nunique()

17825

In [85]:
listings_dec_20["id"].nunique()

18522

In [86]:
listings_dec_18["id"].nunique()

20030

## 1.5. Put all listings together

In [87]:
listings_april_20["Date"] = "April 2020"

In [88]:
listings_april_21["Date"] = "April 2021"

In [89]:
listings_dec_20["Date"] = "December 2020"

In [90]:
listings_dec_18["Date"] = "December 2018"

In [91]:
all_dates_listings = pd.concat([listings_dec_18,listings_april_20,listings_dec_20,listings_april_21])
#This is a data set with all the listing per date

## 1.6. Add district codes to the neigbourhoods

In [92]:
all_dates_listings["neighbourhood"].value_counts()

De Baarsjes - Oud-West                    12830
De Pijp - Rivierenbuurt                    9446
Centrum-West                               8464
Centrum-Oost                               6498
Westerpark                                 5644
Zuid                                       5468
Oud-Oost                                   4872
Bos en Lommer                              4331
Oostelijk Havengebied - Indische Buurt     3642
Oud-Noord                                  2319
Watergraafsmeer                            2153
IJburg - Zeeburgereiland                   1772
Slotervaart                                1608
Noord-West                                 1442
Noord-Oost                                 1035
Buitenveldert - Zuidas                      980
Geuzenveld - Slotermeer                     860
De Aker - Nieuw Sloten                      541
Osdorp                                      530
Gaasperdam - Driemond                       475
Bijlmer-Centrum                             437
Bijlmer-Oost                                392
Name: neighbourhood, dtype: int64

In [93]:
neighbourhood_district =pd.read_excel("../data/raw_data/neihbourhood_district.xlsx")
neighbourhood_district

,Neighbourhood,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,A Centrum-West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Centrum-Oost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E Westerpark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E Bos en Lommer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E De Baarsjes - Oud-West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,F Geuzenveld - Slotermeer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F Osdorp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,F De Aker - Nieuw Sloten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,F Slotervaart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,K Noord-West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,K Buitenveldert - Zuidas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,K De Pijp - Rivierenbuurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,K Zuid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,M Oud-Oost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,M Oostelijk Havengebied - Indische Buurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,M Watergraafsmeer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,M IJburg - Zeeburgereiland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,N Noord-West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,N Oud-Noord,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,N Noord-Oost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,T Bijlmer-Centrum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,T Bijlmer-Oost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,T Gaasperdam - Driemond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
neighbourhood_district= pd.DataFrame(neighbourhood_district.iloc[:,0])
neighbourhood_district

                               Neighbourhood
0                             A Centrum-West
1                             A Centrum-Oost
2                               E Westerpark
3                            E Bos en Lommer
4                   E De Baarsjes - Oud-West
5                  F Geuzenveld - Slotermeer
6                                   F Osdorp
7                   F De Aker - Nieuw Sloten
8                              F Slotervaart
9                               K Noord-West
10                  K Buitenveldert - Zuidas
11                 K De Pijp - Rivierenbuurt
12                                    K Zuid
13                                M Oud-Oost
14  M Oostelijk Havengebied - Indische Buurt
15                         M Watergraafsmeer
16                M IJburg - Zeeburgereiland
17                              N Noord-West
18                               N Oud-Noord
19                              N Noord-Oost
20                         T Bijlmer-Centrum
21                            T Bijlmer-Oost
22                   T Gaasperdam - Driemond

In [95]:
neighbourhood_district[["District_code","Neighbourhood_name"]] = neighbourhood_district.Neighbourhood.str.split(" ",1,expand=True)

In [96]:
neighbourhood_district

,Neighbourhood,District_code,Neighbourhood_name
0,A Centrum-West,A,Centrum-West
1,A Centrum-Oost,A,Centrum-Oost
2,E Westerpark,E,Westerpark
3,E Bos en Lommer,E,Bos en Lommer
4,E De Baarsjes - Oud-West,E,De Baarsjes - Oud-West
5,F Geuzenveld - Slotermeer,F,Geuzenveld - Slotermeer
6,F Osdorp,F,Osdorp
7,F De Aker - Nieuw Sloten,F,De Aker - Nieuw Sloten
8,F Slotervaart,F,Slotervaart
9,K Noord-West,K,Noord-West
10,K Buitenveldert - Zuidas,K,Buitenveldert - Zuidas
11,K De Pijp - Rivierenbuurt,K,De Pijp - Rivierenbuurt
12,K Zuid,K,Zuid
13,M Oud-Oost,M,Oud-Oost
14,M Oostelijk Havengebied - Indische Buurt,M,Oostelijk Havengebied - Indische Buurt
15,M Watergraafsmeer,M,Watergraafsmeer
16,M IJburg - Zeeburgereiland,M,IJburg - Zeeburgereiland
17,N Noord-West,N,Noord-West
18,N Oud-Noord,N,Oud-Noord
19,N Noord-Oost,N,Noord-Oost
20,T Bijlmer-Centrum,T,Bijlmer-Centrum
21,T Bijlmer-Oost,T,Bijlmer-Oost
22,T Gaasperdam - Driemond,T,Gaasperdam - Driemond

In [97]:
neighbourhood_district = neighbourhood_district.drop(columns="Neighbourhood")
neighbourhood_district

   District_code                      Neighbourhood_name
0              A                            Centrum-West
1              A                            Centrum-Oost
2              E                              Westerpark
3              E                           Bos en Lommer
4              E                  De Baarsjes - Oud-West
5              F                 Geuzenveld - Slotermeer
6              F                                  Osdorp
7              F                  De Aker - Nieuw Sloten
8              F                             Slotervaart
9              K                              Noord-West
10             K                  Buitenveldert - Zuidas
11             K                 De Pijp - Rivierenbuurt
12             K                                    Zuid
13             M                                Oud-Oost
14             M  Oostelijk Havengebied - Indische Buurt
15             M                         Watergraafsmeer
16             M                IJburg - Zeeburgereiland
17             N                              Noord-West
18             N                               Oud-Noord
19             N                              Noord-Oost
20             T                         Bijlmer-Centrum
21             T                            Bijlmer-Oost
22             T                   Gaasperdam - Driemond

In [98]:
all_dates_listings = all_dates_listings.merge(neighbourhood_district,left_on='neighbourhood', right_on='Neighbourhood_name',how="left")
all_dates_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Date,District_code,Neighbourhood_name
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44,December 2018,M,Oostelijk Havengebied - Indische Buurt
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47,December 2018,E,Westerpark
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198,December 2018,A,Centrum-Oost
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141,December 2018,A,Centrum-West
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199,December 2018,A,Centrum-West

In [99]:
all_dates_listings[all_dates_listings["Neighbourhood_name"].isnull()]["neighbourhood"].value_counts()

Series([], Name: neighbourhood, dtype: int64)

In [100]:
ams_district = pd.read_csv("../data/raw_data/ams_districts.csv",sep=";")
ams_district

,OBJECTNUMMER,Stadsdeel_code,Stadsdeel,Opp_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,Unnamed: 8
0,1,A,Centrum,8043500,"POLYGON((4.932973 52.3704,4.932942 52.370539,4...","POLYGON((52.3704 4.932973,52.370539 4.932942,5...",4.903707,52.373304,NaN
1,2,B,Westpoort,28991600,"POLYGON((4.885861 52.39937,4.882702 52.401695,...","POLYGON((52.39937 4.885861,52.401695 4.882702,...",4.807314,52.411472,NaN
2,3,E,West,10629900,"POLYGON((4.895084 52.388684,4.894675 52.389933...","POLYGON((52.388684 4.895084,52.389933 4.894675...",4.865211,52.377886,NaN
3,4,F,Nieuw-West,38015500,"POLYGON((4.850498 52.364232,4.850459 52.365189...","POLYGON((52.364232 4.850498,52.365189 4.850459...",4.802671,52.363598,NaN
4,5,K,Zuid,17274000,"POLYGON((4.914989 52.342139,4.914945 52.342421...","POLYGON((52.342139 4.914989,52.342421 4.914945...",4.866058,52.341728,NaN
5,6,M,Oost,30594900,"POLYGON((5.039059 52.354569,5.038812 52.358098...","POLYGON((52.354569 5.039059,52.358098 5.038812...",4.967144,52.350445,NaN
6,7,N,Noord,63828800,"POLYGON((5.079164 52.388647,5.074264 52.413831...","POLYGON((52.388647 5.079164,52.413831 5.074264...",4.967441,52.399447,NaN
7,8,T,Zuidoost,22113700,"POLYGON((5.021546 52.302451,5.021464 52.303129...","POLYGON((52.302451 5.021546,52.303129 5.021464...",4.975439,52.304661,NaN

In [101]:
ams_disctrict_code = ams_district.loc[:,["Stadsdeel_code","Stadsdeel"]]
ams_disctrict_code

  Stadsdeel_code   Stadsdeel
0              A     Centrum
1              B   Westpoort
2              E        West
3              F  Nieuw-West
4              K        Zuid
5              M        Oost
6              N       Noord
7              T    Zuidoost

In [102]:
all_dates_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Date,District_code,Neighbourhood_name
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44,December 2018,M,Oostelijk Havengebied - Indische Buurt
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47,December 2018,E,Westerpark
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198,December 2018,A,Centrum-Oost
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141,December 2018,A,Centrum-West
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199,December 2018,A,Centrum-West

In [103]:
all_dates_listings=all_dates_listings.merge(ams_disctrict_code, left_on='District_code', right_on='Stadsdeel_code',how="left")
all_dates_listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Date,District_code,Neighbourhood_name,Stadsdeel_code,Stadsdeel
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,...,248,2018-11-28,2.10,1,44,December 2018,M,Oostelijk Havengebied - Indische Buurt,M,Oost
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,...,42,2018-08-29,1.03,1,47,December 2018,E,Westerpark,E,West
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,...,233,2018-11-30,2.18,2,198,December 2018,A,Centrum-Oost,A,Centrum
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,...,1,2018-01-21,0.09,2,141,December 2018,A,Centrum-West,A,Centrum
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,...,171,2018-11-25,2.03,1,199,December 2018,A,Centrum-West,A,Centrum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77176,49085366,Kloveniers Studio,395882585,Lucas,NaN,Centrum-West,52.372200,4.899260,Private room,47,...,0,NaN,NaN,1,284,April 2021,A,Centrum-West,A,Centrum
77177,49089176,"Prachtig, gerenoveerd appartement in de Pijp!",68481315,Julia,NaN,De Pijp - Rivierenbuurt,52.354160,4.887000,Entire home/apt,200,...,0,NaN,NaN,1,207,April 2021,K,De Pijp - Rivierenbuurt,K,Zuid
77178,49101225,Beautiful luxury loft close to city centre,23204045,Wes,NaN,Oud-Oost,52.355720,4.924400,Entire home/apt,112,...,0,NaN,NaN,1,86,April 2021,M,Oud-Oost,M,Oost
77179,49102514,Cedo Nulli Dutch Holiday Boats,26206455,Dionne,NaN,Buitenveldert - Zuidas,52.336560,4.848350,Entire home/apt,107,...,0,NaN,NaN,1,335,April 2021,K,Buitenveldert - Zuidas,K,Zuid
77180,49119460,New amazing 4 person Jordaan Apartment,37752619,Joost,NaN,Centrum-West,52.374660,4.880550,Entire home/apt,94,...,0,NaN,NaN,6,343,April 2021,A,Centrum-West,A,Centrum

## 1.7. Finishing to clean dataset and export

In [104]:
#The last column is repetead with the mergins and neihbourhood group in null
all_dates_listings = all_dates_listings.drop(columns=["neighbourhood_group","Neighbourhood_name"])

In [105]:
all_dates_listings["price"] = all_dates_listings["price"]*0.84

In [106]:
#the NaN on the columns of reviews is because those locations have no reviews, so we could leave it like this
#for now, host name and id we don´t care....
all_dates_listings.isnull().sum()

id                                   0
name                               139
host_id                              0
host_name                          664
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9695
reviews_per_month                 9695
calculated_host_listings_count       0
availability_365                     0
Date                                 0
District_code                        0
Stadsdeel_code                       0
Stadsdeel                            0
dtype: int64

In [108]:
all_dates_listings = all_dates_listings.drop(columns="Stadsdeel_code")

In [115]:
all_dates_listings = all_dates_listings.rename(columns= {"Stadsdeel":"District"})

In [116]:
all_dates_listings.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Date,District_code,District
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,49.56,3,248,2018-11-28,2.10,1,44,December 2018,M,Oost
1,3209,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,134.40,4,42,2018-08-29,1.03,1,47,December 2018,E,West
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,67.20,1,233,2018-11-30,2.18,2,198,December 2018,A,Centrum
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,105.00,14,1,2018-01-21,0.09,2,141,December 2018,A,Centrum
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,126.00,2,171,2018-11-25,2.03,1,199,December 2018,A,Centrum

In [117]:
all_dates_listings.to_csv("../data/clean_data/all_dates_listings.csv")

# 2. Reviews

## 2.1. April 2021

In [223]:
reviews= pd.read_csv("../data/raw_data/reviews_april2021.csv")

In [224]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426960 entries, 0 to 426959
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  426960 non-null  int64
 1   date        426960 non-null  object
dtypes: int64(1), object(1)
memory usage: 6.5+ MB

In [225]:
reviews["date"].min()

'2009-03-30'

In [226]:
reviews["date"] = pd.to_datetime(reviews["date"])

In [227]:
reviews['year']= reviews["date"].dt.year
reviews['month']= reviews["date"].dt.month
reviews['day']= reviews["date"].dt.day

In [228]:
reviews['day_of_week'] = reviews["date"].dt.dayofweek

In [229]:
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
reviews['day_of_week_name']=reviews["date"].dt.weekday.map(dw_mapping)

In [230]:
reviews.head()

   listing_id       date  year  month  day  day_of_week day_of_week_name
0        2818 2009-03-30  2009      3   30            0           Monday
1        2818 2009-04-24  2009      4   24            4           Friday
2        2818 2009-05-03  2009      5    3            6           Sunday
3        2818 2009-05-18  2009      5   18            0           Monday
4        2818 2009-05-25  2009      5   25            0           Monday

In [231]:
reviews["date"].min()

Timestamp('2009-03-30 00:00:00')

In [232]:
reviews["date"].max()

Timestamp('2021-04-11 00:00:00')

In [233]:
#I have information from the 2009-03-30 till the 2018-12-21

In [234]:
#In the december 2018 file it starts from the same period, so it is already in this file the info.
#We can just obmit the file

reviews.to_csv("../data/clean_data/reviews.csv")

# 3. Calendar

## 3.1. Calendar 2020-2021

In [235]:
calendar_0720_0721= pd.read_csv("../data/raw_data/calendar_july20_july21.csv")

In [236]:
calendar_0720_0721.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2833161,2020-07-10,f,$140.00,$140.00,3.0,1125.0
1,2450249,2020-07-10,f,$285.00,$285.00,2.0,14.0
2,2450249,2020-07-11,f,$285.00,$285.00,2.0,14.0
3,2450249,2020-07-12,f,$386.00,$386.00,2.0,14.0
4,2450249,2020-07-13,f,$225.00,$225.00,2.0,14.0

In [237]:
calendar_0720_0721.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099729 entries, 0 to 7099728
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 379.2+ MB

In [238]:
calendar_0720_0721["date"] = pd.to_datetime(calendar_0720_0721["date"])

In [239]:
calendar_0720_0721["date"].min()

Timestamp('2020-07-09 00:00:00')

In [240]:
calendar_0720_0721["date"].max()

Timestamp('2021-07-26 00:00:00')

In [241]:
calendar_0720_0721.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099729 entries, 0 to 7099728
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 379.2+ MB

### 3.1.1. Merge both calendar of 2020-2021 and change dates to datetype variable

In [242]:
#We have info of the prices from 2020-07-09 till 2021-07-26

In [243]:
calendar_0320_0321 = pd.read_csv("../data/raw_data/calendar_march20_march21.csv")

In [244]:
calendar_0320_0321["date"] = pd.to_datetime(calendar_0320_0321["date"])

In [245]:
calendar_0320_0321["date"].min()

Timestamp('2020-03-13 00:00:00')

In [246]:
calendar_0320_0321["date"].max()

Timestamp('2021-03-13 00:00:00')

In [247]:
calendar_0320_0820 = calendar_0320_0321[calendar_0320_0321["date"] < "2020-07-09"]

In [248]:
calendar_0320_0721 = pd.concat([calendar_0320_0820,calendar_0720_0721])
calendar_0320_0721["date"].min()

Timestamp('2020-03-13 00:00:00')

In [249]:
calendar_0320_0721["date"].max()

Timestamp('2021-07-26 00:00:00')

In [250]:
calendar_0320_0721['year']= calendar_0320_0721["date"].dt.year
calendar_0320_0721['month']= calendar_0320_0721["date"].dt.month
calendar_0320_0721['day']= calendar_0320_0721["date"].dt.day
calendar_0320_0721['day_of_week'] = calendar_0320_0721["date"].dt.dayofweek

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
calendar_0320_0721['day_of_week']=calendar_0320_0721["date"].dt.weekday.map(dw_mapping)

### 3.1.2. Adjusting rest of the features

In [251]:
calendar_0320_0721.info()
## we should convert the prices to floats and remove the dollar sign, and conver them to euros

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9397622 entries, 0 to 7099728
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
 7   year            int64
 8   month           int64
 9   day             int64
 10  day_of_week     object
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 860.4+ MB

In [252]:
prices = calendar_0320_0721["price"].str.rsplit(r"$", n=-1,expand=True)

In [254]:
prices = prices.iloc[:,1].str.replace(',', '')

In [257]:
prices.values

array(['75.00', '69.00', '69.00', ..., '199.00', '200.00', '200.00'],
      dtype=object)

In [258]:
calendar_0320_0721["price"] = prices.values

In [259]:
#convert to float
calendar_0320_0721["price"] = calendar_0320_0721["price"].astype("float")

In [264]:
#convert to euros
calendar_0320_0721["price"] = calendar_0320_0721["price"]*0.84

In [260]:
prices_adjusted = calendar_0320_0721["adjusted_price"].str.rsplit(r"$", n=-1,expand=True)

In [261]:
prices_adjusted = prices_adjusted.iloc[:,1].str.replace(',', '')

In [262]:
calendar_0320_0721["adjusted_price"] = prices_adjusted.values

In [263]:
calendar_0320_0721["adjusted_price"] =calendar_0320_0721["adjusted_price"].astype("float")

In [265]:
#convert to euros
calendar_0320_0721["adjusted_price"]  = calendar_0320_0721["adjusted_price"] *0.84

In [266]:
calendar_0320_0721.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9397622 entries, 0 to 7099728
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
 7   year            int64
 8   month           int64
 9   day             int64
 10  day_of_week     object
dtypes: datetime64[ns](1), float64(4), int64(4), object(2)
memory usage: 860.4+ MB

In [267]:
calendar_0320_0721.describe()

,listing_id,price,adjusted_price,minimum_nights,maximum_nights,year,month,day
count,9.397622e+06,9.397245e+06,9.397245e+06,9.397219e+06,9.397219e+06,9.397622e+06,9.397622e+06,9.397622e+06
mean,1.993487e+07,1.390908e+02,1.389528e+02,3.613806e+00,2.193797e+05,2.020392e+03,6.110995e+00,1.577790e+01
std,1.224303e+07,1.324622e+02,1.317996e+02,1.401036e+01,2.167025e+07,4.882817e-01,3.138206e+00,8.829924e+00
min,2.818000e+03,5.040000e+00,5.040000e+00,1.000000e+00,1.000000e+00,2.020000e+03,1.000000e+00,1.000000e+00
25%,9.850968e+06,8.400000e+01,8.400000e+01,2.000000e+00,2.500000e+01,2.020000e+03,4.000000e+00,8.000000e+00
50%,1.881625e+07,1.167600e+02,1.167600e+02,2.000000e+00,1.125000e+03,2.020000e+03,6.000000e+00,1.600000e+01
75%,2.938405e+07,1.663200e+02,1.654800e+02,3.000000e+00,1.125000e+03,2.021000e+03,9.000000e+00,2.300000e+01
max,4.413966e+07,9.775920e+03,9.775920e+03,1.001000e+03,2.147484e+09,2.021000e+03,1.200000e+01,3.100000e+01

### 3.1.3. NaN values in price and price adjusted

In [71]:
#prices are not the same but I could just keep one, I could look if the differences are significative or not
test= calendar_0320_0721["price"] == calendar_0320_0721["adjusted_price"]

In [101]:
calendar_0320_0721.loc[calendar_0320_0721["price"].isnull()]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year,month,day,day_of_week
3632860,19196033,2020-07-09,f,NaN,NaN,2.0,14.0,2020,7,9,Thursday
3632861,19196033,2020-07-10,f,NaN,NaN,2.0,14.0,2020,7,10,Friday
3632862,19196033,2020-07-11,f,NaN,NaN,2.0,14.0,2020,7,11,Saturday
3632863,19196033,2020-07-12,f,NaN,NaN,2.0,14.0,2020,7,12,Sunday
3632864,19196033,2020-07-13,f,NaN,NaN,2.0,14.0,2020,7,13,Monday
...,...,...,...,...,...,...,...,...,...,...,...
6939041,43038156,2021-07-05,f,NaN,NaN,5.0,55.0,2021,7,5,Monday
6939042,43038156,2021-07-06,f,NaN,NaN,5.0,55.0,2021,7,6,Tuesday
6939043,43038156,2021-07-07,f,NaN,NaN,5.0,55.0,2021,7,7,Wednesday
6939044,43038156,2021-07-08,f,NaN,NaN,5.0,55.0,2021,7,8,Thursday
6939045,43038156,2021-07-09,f,NaN,NaN,5.0,55.0,2021,7,9,Friday

In [313]:
#We look for the listings with nan values
id_with_na_prices =calendar_0320_0721.loc[calendar_0320_0721["price"].isnull()]["listing_id"].unique()
id_with_na_prices

array([19604421, 20026132, 24907420, 43038156])

In [329]:
id_with_na_a_prices =calendar_0320_0721.loc[calendar_0320_0721["adjusted_price"].isnull()]["listing_id"].unique()
id_with_na_a_prices

array([19196033])

In [362]:
def fill_nan_mean_with_list_of_listings(arr,df,colum_nan):
    '''
    input an array
    '''
    for i in list(range(len(arr))):
        mean = round(df.loc[df["listing_id"] == arr[i],colum_nan].mean(),1)
        test = df.loc[(df["listing_id"] == arr[i]) & (df[colum_nan].isnull()),colum_nan].fillna(round(df.loc[df["listing_id"] == arr[i], colum_nan].mean(),1))
        
        df.loc[(df["listing_id"] == arr[i]) & (df[colum_nan].isnull()),colum_nan] = test
    
    return df

In [321]:
calendar_0320_0721 = fill_nan_mean_with_list_of_listings(id_with_na_prices,calendar_0320_0721,"prices")

In [330]:
calendar_0320_0721 = fill_nan_mean_with_list_of_listings(id_with_na_a_prices,calendar_0320_0721,"adjusted_price")

In [331]:
calendar_0320_0721.isna().sum()

listing_id          0
date                0
available           0
price               0
adjusted_price      0
minimum_nights    403
maximum_nights    403
year                0
month               0
day                 0
day_of_week         0
dtype: int64

### 3.1.4. Filling NaN of max and min nights and export

In [352]:
calendar_0320_0721 = fill_nan_mean_with_list_of_listings(id_nan_min_nights,calendar_0320_0721,"minimum_nights")

In [355]:
calendar_0320_0721 = fill_nan_mean_with_list_of_listings(id_nan_max_nights,calendar_0320_0721,"maximum_nights")

In [358]:
calendar_0320_0721.isna().sum()

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
year              0
month             0
day               0
day_of_week       0
dtype: int64

In [409]:
#Export calendar??? or i merge

calendar_0320_0721.to_csv("../data/clean_data/calendar_0320_0721.csv")

## 3.2. Calendar 2019

### 3.2.1. Adjust type of variables

In [395]:
calendar_1218_1219 = pd.read_csv("../data/raw_data/calendar_dec18_dec19.csv")

In [396]:
calendar_1218_1219 ["date"] = pd.to_datetime(calendar_1218_1219 ["date"])

In [397]:
calendar_1218_1219['year']= calendar_1218_1219["date"].dt.year
calendar_1218_1219['month']= calendar_1218_1219["date"].dt.month
calendar_1218_1219['day']= calendar_1218_1219["date"].dt.day
calendar_1218_1219['day_of_week'] = calendar_1218_1219["date"].dt.dayofweek

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
calendar_1218_1219['day_of_week']=calendar_1218_1219["date"].dt.weekday.map(dw_mapping)

In [398]:
calendar_1218_1219.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310950 entries, 0 to 7310949
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   listing_id   int64
 1   date         datetime64[ns]
 2   available    object
 3   price        object
 4   year         int64
 5   month        int64
 6   day          int64
 7   day_of_week  object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 446.2+ MB

In [399]:
calendar_1218_1219["price"]

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
7310945    $139.00
7310946    $139.00
7310947    $139.00
7310948    $139.00
7310949    $139.00
Name: price, Length: 7310950, dtype: object

In [400]:
prices_2= calendar_1218_1219["price"].str.rsplit(r"$", n=-1,expand=True)
prices_2= prices_2.iloc[:,1].str.replace(',', '')
calendar_1218_1219["price"] = prices_2.values
calendar_1218_1219["price"] =calendar_1218_1219["price"].astype("float")
#convert to euros
calendar_1218_1219["price"]  = calendar_1218_1219["price"] *0.84

### 3.2.1. Fill NaN in prices

In [401]:
calendar_1218_1219.isnull().sum()
#There are 6110879, that we will fill with the mean

listing_id           0
date                 0
available            0
price          6110879
year                 0
month                0
day                  0
day_of_week          0
dtype: int64

In [402]:
id_with_na_prices2 =calendar_1218_1219.loc[calendar_1218_1219["price"].isnull()]["listing_id"].unique()
id_with_na_prices2

array([    2818,    73208,   255809, ..., 27163494, 29979567, 29979667])

In [403]:
len(id_with_na_prices2)

19964

In [404]:
calendar_1218_1219 = fill_nan_mean_with_list_of_listings(id_with_na_prices2, calendar_1218_1219,"price")

In [405]:
calendar_1218_1219.isnull().sum()
#I pass from 6110879 to 3410560

listing_id           0
date                 0
available            0
price          3410560
year                 0
month                0
day                  0
day_of_week          0
dtype: int64

In [415]:
listings_id_without_prices = calendar_1218_1219.loc[calendar_1218_1219["price"].isnull()]["listing_id"].unique().tolist()

In [407]:
len(calendar_1218_1219.loc[calendar_1218_1219["price"].isnull()]["listing_id"].unique())
#we pass from 19964 ids to 9344

9344

In [416]:
#there are not prices availables for those listings, then I will drop them 
calendar_1218_1219.loc[calendar_1218_1219["listing_id"] == 256340,"price"]

1174   NaN
1175   NaN
1176   NaN
1177   NaN
1178   NaN
        ..
1981   NaN
1982   NaN
1983   NaN
1984   NaN
1985   NaN
Name: price, Length: 365, dtype: float64

In [432]:
#I will drop the rows with those NaN
calendar_1218_1219 = calendar_1218_1219.dropna()

In [434]:
calendar_1218_1219.isnull().sum()

listing_id     0
date           0
available      0
price          0
year           0
month          0
day            0
day_of_week    0
dtype: int64

In [435]:
calendar_1218_1219.to_csv("../data/clean_data/calendar_1218_1219.csv")

# 4.Green areas Amsterdam data

In [436]:
ams_green_areas = pd.read_csv("../data/raw_data/green_areas_ams.csv",sep=';' )

In [437]:
ams_green_areas.head()
#drop last colum
#each entry is a different park, and there is the neigbourhood and the poligon
#J are city parks, and N natural areas/green areas

,OBJECTNUMMER,Stadsdeel,Naam,Stadspark,Oppervlakte_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,Unnamed: 9
0,1,Nieuw-West,Gerbrandypark,N,71578,"POLYGON((4.826794 52.379046,4.826812 52.379006...","POLYGON((52.379046 4.826794,52.379006 4.826812...",4.831152,52.377853,NaN
1,2,Zuid,Park Schinkeleilanden,J,17968,"MULTIPOLYGON(((4.850505 52.344519,4.850531 52....","MULTIPOLYGON(((52.344519 4.850505,52.344504 4....",4.850694,52.344821,NaN
2,3,Zuid,Amstelpark,J,438723,"MULTIPOLYGON(((4.890624 52.328765,4.890613 52....","MULTIPOLYGON(((52.328765 4.890624,52.332059 4....",4.894538,52.329253,NaN
3,4,Zuid,`t Kleine Loopveld,N,166447,"MULTIPOLYGON(((4.892119 52.322562,4.892229 52....","MULTIPOLYGON(((52.322562 4.892119,52.322566 4....",4.878960,52.323028,NaN
4,5,Zuid,Sarphatipark,J,42087,"POLYGON((4.898561 52.354808,4.898948 52.354308...","POLYGON((52.354808 4.898561,52.354308 4.898948...",4.896408,52.354402,NaN

In [438]:
ams_green_areas = ams_green_areas.iloc[:,:-1]

In [439]:
ams_green_areas["Stadsdeel"].value_counts()
#use the info of the polygons to plot the listings or other features

Nieuw-West    46
Oost          22
Noord         15
Zuid          11
Centrum       10
West          10
Zuidoost       6
Amstelveen     1
Diemen         1
Name: Stadsdeel, dtype: int64

In [440]:
ams_green_areas["Stadspark"].value_counts()

N    79
J    43
Name: Stadspark, dtype: int64

### 4.1. Add district code

In [441]:
ams_district = pd.read_csv("../data/raw_data/ams_districts.csv",sep=";")

In [442]:
ams_disctrict_code = ams_district.loc[:,["Stadsdeel_code","Stadsdeel"]]
ams_disctrict_code

  Stadsdeel_code   Stadsdeel
0              A     Centrum
1              B   Westpoort
2              E        West
3              F  Nieuw-West
4              K        Zuid
5              M        Oost
6              N       Noord
7              T    Zuidoost

In [443]:
ams_green_areas = ams_green_areas.merge(ams_disctrict_code)
ams_green_areas.head()

,OBJECTNUMMER,Stadsdeel,Naam,Stadspark,Oppervlakte_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,Stadsdeel_code
0,1,Nieuw-West,Gerbrandypark,N,71578,"POLYGON((4.826794 52.379046,4.826812 52.379006...","POLYGON((52.379046 4.826794,52.379006 4.826812...",4.831152,52.377853,F
1,26,Nieuw-West,Kasterlee park,N,48893,"POLYGON((4.811522 52.346949,4.811535 52.346556...","POLYGON((52.346949 4.811522,52.346556 4.811535...",4.810301,52.348383,F
2,38,Nieuw-West,Vrije Geer,N,73188,"POLYGON((4.798625 52.347323,4.798843 52.347318...","POLYGON((52.347323 4.798625,52.347318 4.798843...",4.798139,52.345332,F
3,44,Nieuw-West,Siegerpark,N,26475,"POLYGON((4.819879 52.341481,4.819919 52.341407...","POLYGON((52.341481 4.819879,52.341407 4.819919...",4.819177,52.340566,F
4,46,Nieuw-West,Park De Kuil,N,107671,"POLYGON((4.794139 52.377362,4.79355 52.375117,...","POLYGON((52.377362 4.794139,52.375117 4.79355,...",4.790990,52.377187,F

In [444]:
ams_green_areas["Stadsdeel_code"].value_counts()

F    46
M    22
N    15
K    11
A    10
E    10
T     6
Name: Stadsdeel_code, dtype: int64

In [445]:
ams_green_areas.shape

(120, 10)

### 4.2. Subset with number of parks per neighbourhood

In [447]:
ams_green_areas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTNUMMER    120 non-null    int64
 1   Stadsdeel       120 non-null    object
 2   Naam            120 non-null    object
 3   Stadspark       120 non-null    object
 4   Oppervlakte_m2  120 non-null    int64
 5   WKT_LNG_LAT     120 non-null    object
 6   WKT_LAT_LNG     120 non-null    object
 7   LNG             120 non-null    float64
 8   LAT             120 non-null    float64
 9   Stadsdeel_code  120 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 10.3+ KB

In [448]:
green_areas_x_district = ams_green_areas.groupby(["Stadsdeel","Stadsdeel_code"]).agg({"Oppervlakte_m2":"sum", "Stadsdeel": "count"})
green_areas_x_district

                           Oppervlakte_m2  Stadsdeel
Stadsdeel  Stadsdeel_code
Centrum    A                        82263         10
Nieuw-West F                      5836543         46
Noord      N                      2726583         15
Oost       M                      1827890         22
West       E                       541141         10
Zuid       K                      1819623         11
Zuidoost   T                      5082510          6

In [449]:
green_areas_x_district.to_csv("../data/clean_data/green_areas_x_district.csv" )

# 5. Safety areas Amsterdam data

In [450]:
crimes_areas_ams = pd.read_excel("../data/raw_data/crimes_x_district_amsterdam.xlsx" )

In [451]:
crimes_areas_ams.head()

,District,Year,Type of crime,number of crimes,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,A Centrum,2018,murder,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Centrum,2018,open violence,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A Centrum,2018,threat,421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Centrum,2018,abuse,1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A Centrum,2018,street robbery,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [452]:
crimes_areas_ams = crimes_areas_ams.iloc[:,0:4]

In [453]:
crimes_areas_ams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          144 non-null    object
 1   Year              144 non-null    int64
 2   Type of crime     144 non-null    object
 3   number of crimes  144 non-null    int64
dtypes: int64(2), object(2)
memory usage: 4.6+ KB

In [454]:
crimes_areas_ams[crimes_areas_ams["District"]== "Amsterdam"]

      District  Year   Type of crime  number of crimes
126  Amsterdam  2018          murder               278
127  Amsterdam  2018   open violence               229
128  Amsterdam  2018          threat              2583
129  Amsterdam  2018           abuse              3908
130  Amsterdam  2018  street robbery              1236
131  Amsterdam  2018         robbery               226
132  Amsterdam  2019          murder               288
133  Amsterdam  2019   open violence               263
134  Amsterdam  2019          threat              2772
135  Amsterdam  2019           abuse              3933
136  Amsterdam  2019  street robbery              1241
137  Amsterdam  2019         robbery               215
138  Amsterdam  2020          murder               292
139  Amsterdam  2020   open violence               168
140  Amsterdam  2020          threat              2814
141  Amsterdam  2020           abuse              3553
142  Amsterdam  2020  street robbery               923
143  Amsterdam  2020         robbery               152

In [455]:
district_crimes_ams =crimes_areas_ams.iloc[:126,:]
#I see that the columns with district Amsterdam are slighlty the sum of all of them

In [456]:
district_crimes_ams["District"].value_counts() #look if is the code corresponds

A Centrum       18
M Oost          18
T Zuidoost      18
K Zuid          18
F Nieuw-West    18
E West          18
N Noord         18
Name: District, dtype: int64

In [457]:
district_crimes_ams.groupby(["Type of crime","Year"]).sum()

                     number of crimes
Type of crime  Year
abuse          2018              3885
               2019              3912
               2020              3535
murder         2018               275
               2019               287
               2020               290
open violence  2018               228
               2019               263
               2020               168
robbery        2018               225
               2019               215
               2020               151
street robbery 2018              1235
               2019              1239
               2020               922
threat         2018              2577
               2019              2763
               2020              2804

In [458]:
district_crimes_ams["District"].value_counts()

A Centrum       18
M Oost          18
T Zuidoost      18
K Zuid          18
F Nieuw-West    18
E West          18
N Noord         18
Name: District, dtype: int64

In [459]:
# Let's split the first column no get the codes and be able to connect with our geospatial data for the
#neigbourhood

district_crimes_ams

       District  Year   Type of crime  number of crimes
0     A Centrum  2018          murder                40
1     A Centrum  2018   open violence                82
2     A Centrum  2018          threat               421
3     A Centrum  2018           abuse              1068
4     A Centrum  2018  street robbery               331
..          ...   ...             ...               ...
121  T Zuidoost  2020   open violence                13
122  T Zuidoost  2020          threat               413
123  T Zuidoost  2020           abuse               472
124  T Zuidoost  2020  street robbery               176
125  T Zuidoost  2020         robbery                30

[126 rows x 4 columns]

In [460]:
district_crimes_ams[["District_code","District_name"]] = district_crimes_ams.District.str.split(expand=True)

/Users/lauratll/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [461]:
district_crimes_ams = district_crimes_ams.drop(columns="District" )

In [462]:
district_crimes_ams.head()

   Year   Type of crime  number of crimes District_code District_name
0  2018          murder                40             A       Centrum
1  2018   open violence                82             A       Centrum
2  2018          threat               421             A       Centrum
3  2018           abuse              1068             A       Centrum
4  2018  street robbery               331             A       Centrum

In [463]:
average_crimes_x_district = district_crimes_ams.groupby(["District_name","District_code","Type of crime"]).mean().round(2).reset_index()

In [464]:
average_crimes_x_district = average_crimes_x_district.drop(columns= "Year")

In [465]:
average_crimes_x_district = average_crimes_x_district.rename(columns= {"number of crimes":"average_number_of_crimes","Type of crime":"type_of_crime"})

In [466]:
average_crimes_x_district.head()

  District_name District_code   type_of_crime  average_number_of_crimes
0       Centrum             A           abuse                    887.00
1       Centrum             A          murder                     42.00
2       Centrum             A   open violence                     68.00
3       Centrum             A         robbery                     15.67
4       Centrum             A  street robbery                    277.33

# 6. Descriptors of the districs in Amsterdam

In [467]:
district_descriptors = average_crimes_x_district.merge(green_areas_x_district,left_on='District_code', right_on='Stadsdeel_code')
district_descriptors.head()

,District_name,District_code,type_of_crime,average_number_of_crimes,Oppervlakte_m2,Stadsdeel
0,Centrum,A,abuse,887.00,82263,10
1,Centrum,A,murder,42.00,82263,10
2,Centrum,A,open violence,68.00,82263,10
3,Centrum,A,robbery,15.67,82263,10
4,Centrum,A,street robbery,277.33,82263,10

In [468]:
district_descriptors =district_descriptors.rename(columns={"Oppervlakte_m2":"green_areas_m2", "Stadsdeel":"num_green_areas"})
district_descriptors.head()

,District_name,District_code,type_of_crime,average_number_of_crimes,green_areas_m2,num_green_areas
0,Centrum,A,abuse,887.00,82263,10
1,Centrum,A,murder,42.00,82263,10
2,Centrum,A,open violence,68.00,82263,10
3,Centrum,A,robbery,15.67,82263,10
4,Centrum,A,street robbery,277.33,82263,10

In [469]:
district_descriptors.to_csv("../data/clean_data/district_descriptors.csv")

# 7. Spatial data

In [ ]:
neigbourhoods
all_dates_listings

In [ ]:
import geopandas as gpd
neigh= gpd.read_file('neighbourhoods.geojson')

In [ ]:
from turfpy.measurement import boolean_point_in_polygon
from geojson import Point, Polygon, Feature

In [ ]:
point = Feature(geometry=Point((-46.6318, -23.5523)))
polygon = Polygon(
    [
        [
            (-46.653, -23.543),
            (-46.634, -23.5346),
            (-46.613, -23.543),
            (-46.614, -23.559),
            (-46.631, -23.567),
            (-46.653, -23.560),
            (-46.653, -23.543),
        ]
    ]
)
boolean_point_in_polygon(point, polygon)