<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploring-the-data-sets" data-toc-modified-id="Exploring-the-data-sets-1">Exploring the data sets</a></span></li><li><span><a href="#1.-Listings" data-toc-modified-id="1.-Listings-2">1. Listings</a></span><ul class="toc-item"><li><span><a href="#1.1-Listings-April-2020" data-toc-modified-id="1.1-Listings-April-2020-2.1">1.1 Listings April 2020</a></span></li><li><span><a href="#1.2-Listings-April-2021" data-toc-modified-id="1.2-Listings-April-2021-2.2">1.2 Listings April 2021</a></span></li><li><span><a href="#1.3.-Listings-dec-2018" data-toc-modified-id="1.3.-Listings-dec-2018-2.3">1.3. Listings dec 2018</a></span></li><li><span><a href="#1.4.-Listings-dec-2020" data-toc-modified-id="1.4.-Listings-dec-2020-2.4">1.4. Listings dec 2020</a></span></li><li><span><a href="#1.4.-Comparing-the-listings" data-toc-modified-id="1.4.-Comparing-the-listings-2.5">1.4. Comparing the listings</a></span></li></ul></li><li><span><a href="#2.-Reviews" data-toc-modified-id="2.-Reviews-3">2. Reviews</a></span><ul class="toc-item"><li><span><a href="#2.1.-April-2021" data-toc-modified-id="2.1.-April-2021-3.1">2.1. April 2021</a></span></li></ul></li><li><span><a href="#3.-Calendar" data-toc-modified-id="3.-Calendar-4">3. Calendar</a></span><ul class="toc-item"><li><span><a href="#3.1.-Calendar-2020-2021" data-toc-modified-id="3.1.-Calendar-2020-2021-4.1">3.1. Calendar 2020-2021</a></span></li><li><span><a href="#3.2.-Calendar-2019" data-toc-modified-id="3.2.-Calendar-2019-4.2">3.2. Calendar 2019</a></span></li></ul></li></ul></div>

# Exploring the data sets

# 1. Listings

## 1.1 Listings April 2020

In [1]:
import pandas as pd
import numpy as np

In [113]:
listings_april_20 = pd.read_csv("../data/listing_april_20.csv")

In [114]:
listings_april_20.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room,59,3,278,2020-02-14,2.06,1,169
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36509,4.89354,Private room,100,1,340,2020-04-09,2.76,2,106
2,25428,Lovely apt in City Centre (w.lift) near Jordaan,56142,Joan,NaN,Centrum-West,52.37297,4.88339,Entire home/apt,125,14,5,2020-02-09,0.18,1,132
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,155,2,217,2020-03-02,2.15,1,172
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36719,4.89092,Private room,75,2,332,2020-03-16,2.82,3,210

## 1.2 Listings April 2021

In [115]:
listings_april_21 = pd.read_csv("../data/listings_april_21.csv")

In [116]:
listings_april_21.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,59,3,278,2020-02-14,1.90,1,152
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,200,1,339,2020-04-09,2.50,2,0
2,25428,"Lovely, 1 bed apt in Ctr (w.lift) -3/20-6/20(f...",56142,Joan,NaN,Centrum-West,52.37490,4.88487,Entire home/apt,125,14,5,2020-02-09,0.13,2,132
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,141,2,219,2020-07-25,1.94,1,66
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,336,2020-09-20,2.59,2,335

In [124]:
listings_april_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17825 entries, 0 to 17824
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17825 non-null  int64
 1   name                            17793 non-null  object
 2   host_id                         17825 non-null  int64
 3   host_name                       17230 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17825 non-null  object
 6   latitude                        17825 non-null  float64
 7   longitude                       17825 non-null  float64
 8   room_type                       17825 non-null  object
 9   price                           17825 non-null  int64
 10  minimum_nights                  17825 non-null  int64
 11  number_of_reviews               17825 non-null  int64
 12  last_review                     15425 non-null  object
 13  reviews_per_month               15425 non-null  float64
 14  calculated_host_listings_count  17825 non-null  int64
 15  availability_365                17825 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.2+ MB

## 1.3. Listings dec 2018

In [134]:
listings_dec_18 = pd.read_csv("../data/listings_dec18.csv")

In [135]:
listings_dec_18["id"].nunique()

20030

In [136]:
listings_dec_18.shape

(20030, 16)

## 1.4. Listings dec 2020

In [138]:
listings_dec_20 = pd.read_csv("../data/listings_dec20.csv")

In [139]:
listings_dec_20.shape

(18522, 16)

## 1.4. Comparing the listings

In [143]:
listings_april_20["id"].nunique()

19362

In [142]:
listings_april_21["id"].nunique()

17825

In [141]:
listings_dec_20["id"].nunique()

18522

In [140]:
listings_dec_18["id"].nunique()

20030

# 2. Reviews

## 2.1. April 2021

In [45]:
reviews= pd.read_csv("../data/reviews_april2021.csv")

In [46]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426960 entries, 0 to 426959
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  426960 non-null  int64
 1   date        426960 non-null  object
dtypes: int64(1), object(1)
memory usage: 6.5+ MB

In [47]:
reviews["date"].min()

'2009-03-30'

In [48]:
reviews["date"] = pd.to_datetime(reviews["date"])

In [49]:
reviews['year']= reviews["date"].dt.year
reviews['month']= reviews["date"].dt.month
reviews['day']= reviews["date"].dt.day

In [50]:
reviews['day_of_week'] = reviews["date"].dt.dayofweek

In [51]:
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
reviews['day_of_week_name']=reviews["date"].dt.weekday.map(dw_mapping)

In [52]:
reviews.head()

   listing_id       date  year  month  day  day_of_week day_of_week_name
0        2818 2009-03-30  2009      3   30            0           Monday
1        2818 2009-04-24  2009      4   24            4           Friday
2        2818 2009-05-03  2009      5    3            6           Sunday
3        2818 2009-05-18  2009      5   18            0           Monday
4        2818 2009-05-25  2009      5   25            0           Monday

In [53]:
reviews["date"].min()

Timestamp('2009-03-30 00:00:00')

In [54]:
reviews["date"].max()

Timestamp('2021-04-11 00:00:00')

In [55]:
#I have information from the 2009-03-30 till the 2018-12-21

In [ ]:
#In the december 2018 file it starts from the same period, so it is already in this file the info.
#We can just obmit the file

# 3. Calendar

## 3.1. Calendar 2020-2021

In [85]:
calendar_0720_0721= pd.read_csv("../data/calendar_july20_july21.csv")

In [86]:
calendar_0720_0721.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2833161,2020-07-10,f,$140.00,$140.00,3.0,1125.0
1,2450249,2020-07-10,f,$285.00,$285.00,2.0,14.0
2,2450249,2020-07-11,f,$285.00,$285.00,2.0,14.0
3,2450249,2020-07-12,f,$386.00,$386.00,2.0,14.0
4,2450249,2020-07-13,f,$225.00,$225.00,2.0,14.0

In [87]:
calendar_0720_0721.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099729 entries, 0 to 7099728
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 379.2+ MB

In [93]:
calendar_0720_0721["date"] = pd.to_datetime(calendar_0320_0321["date"])

In [89]:
calendar_0720_0721["date"].min()

Timestamp('2020-07-09 00:00:00')

In [90]:
calendar_0720_0721["date"].max()

Timestamp('2021-07-26 00:00:00')

In [91]:
calendar_0720_0721.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099729 entries, 0 to 7099728
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 379.2+ MB

In [ ]:
#We have info of the prices from 2020-07-09 till 2021-07-26

In [79]:
calendar_0320_0321 = pd.read_csv("../data/calendar_march20_march21.csv")

In [80]:
calendar_0320_0321["date"] = pd.to_datetime(calendar_0320_0321["date"])

In [81]:
calendar_0320_0321["date"].min()

Timestamp('2020-03-13 00:00:00')

In [82]:
calendar_0320_0321["date"].max()

Timestamp('2021-03-13 00:00:00')

In [100]:
calendar_0320_0820 = calendar_0320_0321[calendar_0320_0321["date"] < "2020-07-09"]

In [103]:
calendar_0320_0721 = pd.concat([calendar_0320_0820,calendar_0720_0721])
calendar_0320_0721["date"].min()

Timestamp('2020-03-13 00:00:00')

In [104]:
calendar_0320_0721["date"].max()

Timestamp('2021-07-26 00:00:00')

In [106]:
calendar_0320_0721['year']= calendar_0320_0721["date"].dt.year
calendar_0320_0721['month']= calendar_0320_0721["date"].dt.month
calendar_0320_0721['day']= calendar_0320_0721["date"].dt.day
calendar_0320_0721['day_of_week'] = calendar_0320_0721["date"].dt.dayofweek

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
calendar_0320_0721['day_of_week']=calendar_0320_0721["date"].dt.weekday.map(dw_mapping)

In [107]:
calendar_0320_0721.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year,month,day,day_of_week
0,52490,2020-03-14,f,$75.00,$75.00,2.0,80.0,2020,3,14,Saturday
1,2818,2020-03-14,f,$69.00,$69.00,3.0,1125.0,2020,3,14,Saturday
2,2818,2020-03-15,t,$69.00,$69.00,3.0,1125.0,2020,3,15,Sunday
3,2818,2020-03-16,t,$59.00,$59.00,3.0,1125.0,2020,3,16,Monday
4,2818,2020-03-17,t,$59.00,$59.00,3.0,1125.0,2020,3,17,Tuesday

## 3.2. Calendar 2019

In [105]:
calendar_1218_1219 = pd.read_csv("../data/calendar_dec18_dec19.csv")

In [108]:
calendar_1218_1219 ["date"] = pd.to_datetime(calendar_1218_1219 ["date"])

In [109]:
calendar_1218_1219['year']= calendar_1218_1219["date"].dt.year
calendar_1218_1219['month']= calendar_1218_1219["date"].dt.month
calendar_1218_1219['day']= calendar_1218_1219["date"].dt.day
calendar_1218_1219['day_of_week'] = calendar_1218_1219["date"].dt.dayofweek

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
calendar_1218_1219['day_of_week']=calendar_1218_1219["date"].dt.weekday.map(dw_mapping)

In [110]:
calendar_1218_1219.head()

   listing_id       date available price  year  month  day day_of_week
0        2818 2019-12-05         f   NaN  2019     12    5    Thursday
1       73208 2019-08-30         f   NaN  2019      8   30      Friday
2       73208 2019-08-29         f   NaN  2019      8   29    Thursday
3       73208 2019-08-28         f   NaN  2019      8   28   Wednesday
4       73208 2019-08-27         f   NaN  2019      8   27     Tuesday