<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Exploring-the-data-sets" data-toc-modified-id="Exploring-the-data-sets-1">Exploring the data sets</a></span></li><li><span><a href="#1.-Listings" data-toc-modified-id="1.-Listings-2">1. Listings</a></span><ul class="toc-item"><li><span><a href="#1.1-Listings-April-2020" data-toc-modified-id="1.1-Listings-April-2020-2.1">1.1 Listings April 2020</a></span></li><li><span><a href="#1.2-Listings-April-2021" data-toc-modified-id="1.2-Listings-April-2021-2.2">1.2 Listings April 2021</a></span></li><li><span><a href="#1.3.-Listings-dec-2018" data-toc-modified-id="1.3.-Listings-dec-2018-2.3">1.3. Listings dec 2018</a></span></li><li><span><a href="#1.4.-Listings-dec-2020" data-toc-modified-id="1.4.-Listings-dec-2020-2.4">1.4. Listings dec 2020</a></span></li><li><span><a href="#1.4.-Comparing-the-listings" data-toc-modified-id="1.4.-Comparing-the-listings-2.5">1.4. Comparing the listings</a></span></li></ul></li><li><span><a href="#2.-Reviews" data-toc-modified-id="2.-Reviews-3">2. Reviews</a></span><ul class="toc-item"><li><span><a href="#2.1.-April-2021" data-toc-modified-id="2.1.-April-2021-3.1">2.1. April 2021</a></span></li></ul></li><li><span><a href="#3.-Calendar" data-toc-modified-id="3.-Calendar-4">3. Calendar</a></span><ul class="toc-item"><li><span><a href="#3.1.-Calendar-2020-2021" data-toc-modified-id="3.1.-Calendar-2020-2021-4.1">3.1. Calendar 2020-2021</a></span></li><li><span><a href="#3.2.-Calendar-2019" data-toc-modified-id="3.2.-Calendar-2019-4.2">3.2. Calendar 2019</a></span></li></ul></li><li><span><a href="#4.Green-areas-Amsterdam-data" data-toc-modified-id="4.Green-areas-Amsterdam-data-5">4.Green areas Amsterdam data</a></span></li><li><span><a href="#5.-Safety-areas-Amsterdam-data" data-toc-modified-id="5.-Safety-areas-Amsterdam-data-6">5. Safety areas Amsterdam data</a></span></li></ul></div>

# Exploring the data sets

# 1. Listings

## 1.1 Listings April 2020

In [2]:
import pandas as pd
import numpy as np

In [113]:
listings_april_20 = pd.read_csv("../data/listing_april_20.csv")

In [114]:
listings_april_20.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room,59,3,278,2020-02-14,2.06,1,169
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36509,4.89354,Private room,100,1,340,2020-04-09,2.76,2,106
2,25428,Lovely apt in City Centre (w.lift) near Jordaan,56142,Joan,NaN,Centrum-West,52.37297,4.88339,Entire home/apt,125,14,5,2020-02-09,0.18,1,132
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,155,2,217,2020-03-02,2.15,1,172
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36719,4.89092,Private room,75,2,332,2020-03-16,2.82,3,210

## 1.2 Listings April 2021

In [115]:
listings_april_21 = pd.read_csv("../data/listings_april_21.csv")

In [116]:
listings_april_21.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36435,4.94358,Private room,59,3,278,2020-02-14,1.90,1,152
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36407,4.89393,Private room,200,1,339,2020-04-09,2.50,2,0
2,25428,"Lovely, 1 bed apt in Ctr (w.lift) -3/20-6/20(f...",56142,Joan,NaN,Centrum-West,52.37490,4.88487,Entire home/apt,125,14,5,2020-02-09,0.13,2,132
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,141,2,219,2020-07-25,1.94,1,66
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,75,2,336,2020-09-20,2.59,2,335

In [124]:
listings_april_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17825 entries, 0 to 17824
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17825 non-null  int64
 1   name                            17793 non-null  object
 2   host_id                         17825 non-null  int64
 3   host_name                       17230 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17825 non-null  object
 6   latitude                        17825 non-null  float64
 7   longitude                       17825 non-null  float64
 8   room_type                       17825 non-null  object
 9   price                           17825 non-null  int64
 10  minimum_nights                  17825 non-null  int64
 11  number_of_reviews               17825 non-null  int64
 12  last_review                     15425 non-null  object
 13  reviews_per_month               15425 non-null  float64
 14  calculated_host_listings_count  17825 non-null  int64
 15  availability_365                17825 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.2+ MB

## 1.3. Listings dec 2018

In [134]:
listings_dec_18 = pd.read_csv("../data/listings_dec18.csv")

In [135]:
listings_dec_18["id"].nunique()

20030

In [136]:
listings_dec_18.shape

(20030, 16)

## 1.4. Listings dec 2020

In [138]:
listings_dec_20 = pd.read_csv("../data/listings_dec20.csv")

In [139]:
listings_dec_20.shape

(18522, 16)

## 1.4. Comparing the listings

In [143]:
listings_april_20["id"].nunique()

19362

In [142]:
listings_april_21["id"].nunique()

17825

In [141]:
listings_dec_20["id"].nunique()

18522

In [140]:
listings_dec_18["id"].nunique()

20030

# 2. Reviews

## 2.1. April 2021

In [45]:
reviews= pd.read_csv("../data/reviews_april2021.csv")

In [46]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426960 entries, 0 to 426959
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  426960 non-null  int64
 1   date        426960 non-null  object
dtypes: int64(1), object(1)
memory usage: 6.5+ MB

In [47]:
reviews["date"].min()

'2009-03-30'

In [48]:
reviews["date"] = pd.to_datetime(reviews["date"])

In [49]:
reviews['year']= reviews["date"].dt.year
reviews['month']= reviews["date"].dt.month
reviews['day']= reviews["date"].dt.day

In [50]:
reviews['day_of_week'] = reviews["date"].dt.dayofweek

In [51]:
dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
reviews['day_of_week_name']=reviews["date"].dt.weekday.map(dw_mapping)

In [52]:
reviews.head()

   listing_id       date  year  month  day  day_of_week day_of_week_name
0        2818 2009-03-30  2009      3   30            0           Monday
1        2818 2009-04-24  2009      4   24            4           Friday
2        2818 2009-05-03  2009      5    3            6           Sunday
3        2818 2009-05-18  2009      5   18            0           Monday
4        2818 2009-05-25  2009      5   25            0           Monday

In [53]:
reviews["date"].min()

Timestamp('2009-03-30 00:00:00')

In [54]:
reviews["date"].max()

Timestamp('2021-04-11 00:00:00')

In [55]:
#I have information from the 2009-03-30 till the 2018-12-21

In [ ]:
#In the december 2018 file it starts from the same period, so it is already in this file the info.
#We can just obmit the file

# 3. Calendar

## 3.1. Calendar 2020-2021

In [85]:
calendar_0720_0721= pd.read_csv("../data/calendar_july20_july21.csv")

In [86]:
calendar_0720_0721.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2833161,2020-07-10,f,$140.00,$140.00,3.0,1125.0
1,2450249,2020-07-10,f,$285.00,$285.00,2.0,14.0
2,2450249,2020-07-11,f,$285.00,$285.00,2.0,14.0
3,2450249,2020-07-12,f,$386.00,$386.00,2.0,14.0
4,2450249,2020-07-13,f,$225.00,$225.00,2.0,14.0

In [87]:
calendar_0720_0721.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099729 entries, 0 to 7099728
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 379.2+ MB

In [93]:
calendar_0720_0721["date"] = pd.to_datetime(calendar_0320_0321["date"])

In [89]:
calendar_0720_0721["date"].min()

Timestamp('2020-07-09 00:00:00')

In [90]:
calendar_0720_0721["date"].max()

Timestamp('2021-07-26 00:00:00')

In [91]:
calendar_0720_0721.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7099729 entries, 0 to 7099728
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            datetime64[ns]
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 379.2+ MB

In [ ]:
#We have info of the prices from 2020-07-09 till 2021-07-26

In [79]:
calendar_0320_0321 = pd.read_csv("../data/calendar_march20_march21.csv")

In [80]:
calendar_0320_0321["date"] = pd.to_datetime(calendar_0320_0321["date"])

In [81]:
calendar_0320_0321["date"].min()

Timestamp('2020-03-13 00:00:00')

In [82]:
calendar_0320_0321["date"].max()

Timestamp('2021-03-13 00:00:00')

In [100]:
calendar_0320_0820 = calendar_0320_0321[calendar_0320_0321["date"] < "2020-07-09"]

In [103]:
calendar_0320_0721 = pd.concat([calendar_0320_0820,calendar_0720_0721])
calendar_0320_0721["date"].min()

Timestamp('2020-03-13 00:00:00')

In [104]:
calendar_0320_0721["date"].max()

Timestamp('2021-07-26 00:00:00')

In [106]:
calendar_0320_0721['year']= calendar_0320_0721["date"].dt.year
calendar_0320_0721['month']= calendar_0320_0721["date"].dt.month
calendar_0320_0721['day']= calendar_0320_0721["date"].dt.day
calendar_0320_0721['day_of_week'] = calendar_0320_0721["date"].dt.dayofweek

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
calendar_0320_0721['day_of_week']=calendar_0320_0721["date"].dt.weekday.map(dw_mapping)

In [107]:
calendar_0320_0721.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year,month,day,day_of_week
0,52490,2020-03-14,f,$75.00,$75.00,2.0,80.0,2020,3,14,Saturday
1,2818,2020-03-14,f,$69.00,$69.00,3.0,1125.0,2020,3,14,Saturday
2,2818,2020-03-15,t,$69.00,$69.00,3.0,1125.0,2020,3,15,Sunday
3,2818,2020-03-16,t,$59.00,$59.00,3.0,1125.0,2020,3,16,Monday
4,2818,2020-03-17,t,$59.00,$59.00,3.0,1125.0,2020,3,17,Tuesday

## 3.2. Calendar 2019

In [105]:
calendar_1218_1219 = pd.read_csv("../data/calendar_dec18_dec19.csv")

In [108]:
calendar_1218_1219 ["date"] = pd.to_datetime(calendar_1218_1219 ["date"])

In [109]:
calendar_1218_1219['year']= calendar_1218_1219["date"].dt.year
calendar_1218_1219['month']= calendar_1218_1219["date"].dt.month
calendar_1218_1219['day']= calendar_1218_1219["date"].dt.day
calendar_1218_1219['day_of_week'] = calendar_1218_1219["date"].dt.dayofweek

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
calendar_1218_1219['day_of_week']=calendar_1218_1219["date"].dt.weekday.map(dw_mapping)

In [110]:
calendar_1218_1219.head()

   listing_id       date available price  year  month  day day_of_week
0        2818 2019-12-05         f   NaN  2019     12    5    Thursday
1       73208 2019-08-30         f   NaN  2019      8   30      Friday
2       73208 2019-08-29         f   NaN  2019      8   29    Thursday
3       73208 2019-08-28         f   NaN  2019      8   28   Wednesday
4       73208 2019-08-27         f   NaN  2019      8   27     Tuesday

# 4.Green areas Amsterdam data

In [4]:
green_areas = pd.read_csv("../data/green_areas_ams.csv",sep=';' )

In [56]:
green_areas.head()
#drop last colum
#each entry is a different park, and there is the neigbourhood and the poligon
#J are city parks, and N natural areas/green areas

,OBJECTNUMMER,Stadsdeel,Naam,Stadspark,Oppervlakte_m2,WKT_LNG_LAT,WKT_LAT_LNG,LNG,LAT,Unnamed: 9
0,1,Nieuw-West,Gerbrandypark,N,71578,"POLYGON((4.826794 52.379046,4.826812 52.379006...","POLYGON((52.379046 4.826794,52.379006 4.826812...",4.831152,52.377853,NaN
1,2,Zuid,Park Schinkeleilanden,J,17968,"MULTIPOLYGON(((4.850505 52.344519,4.850531 52....","MULTIPOLYGON(((52.344519 4.850505,52.344504 4....",4.850694,52.344821,NaN
2,3,Zuid,Amstelpark,J,438723,"MULTIPOLYGON(((4.890624 52.328765,4.890613 52....","MULTIPOLYGON(((52.328765 4.890624,52.332059 4....",4.894538,52.329253,NaN
3,4,Zuid,`t Kleine Loopveld,N,166447,"MULTIPOLYGON(((4.892119 52.322562,4.892229 52....","MULTIPOLYGON(((52.322562 4.892119,52.322566 4....",4.878960,52.323028,NaN
4,5,Zuid,Sarphatipark,J,42087,"POLYGON((4.898561 52.354808,4.898948 52.354308...","POLYGON((52.354808 4.898561,52.354308 4.898948...",4.896408,52.354402,NaN

In [58]:
green_areas = green_areas.iloc[:,:-1]

In [59]:
green_areas["Stadsdeel"].value_counts()
#use the info of the polygons to plot the listings or other features

Nieuw-West    46
Oost          22
Noord         15
Zuid          11
West          10
Centrum       10
Zuidoost       6
Amstelveen     1
Diemen         1
Name: Stadsdeel, dtype: int64

In [60]:
green_areas["Stadspark"].value_counts()

N    79
J    43
Name: Stadspark, dtype: int64

# 5. Safety areas Amsterdam data

In [43]:
crimes_areas_ams = pd.read_excel("../data/crimes_x_district_amsterdam.xlsx" )

In [44]:
crimes_areas_ams.head()

,District,Year,Type of crime,number of crimes,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,A Centrum,2018,murder,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Centrum,2018,open violence,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A Centrum,2018,threat,421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A Centrum,2018,abuse,1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A Centrum,2018,street robbery,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
crimes_areas_ams = crimes_areas_ams.iloc[:,0:4]

In [46]:
crimes_areas_ams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          144 non-null    object
 1   Year              144 non-null    int64
 2   Type of crime     144 non-null    object
 3   number of crimes  144 non-null    int64
dtypes: int64(2), object(2)
memory usage: 4.6+ KB

In [47]:
crimes_areas_ams[crimes_areas_ams["District"]== "Amsterdam"]

      District  Year   Type of crime  number of crimes
126  Amsterdam  2018          murder               278
127  Amsterdam  2018   open violence               229
128  Amsterdam  2018          threat              2583
129  Amsterdam  2018           abuse              3908
130  Amsterdam  2018  street robbery              1236
131  Amsterdam  2018         robbery               226
132  Amsterdam  2019          murder               288
133  Amsterdam  2019   open violence               263
134  Amsterdam  2019          threat              2772
135  Amsterdam  2019           abuse              3933
136  Amsterdam  2019  street robbery              1241
137  Amsterdam  2019         robbery               215
138  Amsterdam  2020          murder               292
139  Amsterdam  2020   open violence               168
140  Amsterdam  2020          threat              2814
141  Amsterdam  2020           abuse              3553
142  Amsterdam  2020  street robbery               923
143  Amsterdam  2020         robbery               152

In [61]:
district_crimes_ams =crimes_areas_ams.iloc[:126,:]
#I see that the columns with district Amsterdam are slighlty the sum of all of them

In [62]:
district_crimes_ams.groupby(["Type of crime","Year"]).sum()

                     number of crimes
Type of crime  Year
abuse          2018              3885
               2019              3912
               2020              3535
murder         2018               275
               2019               287
               2020               290
open violence  2018               228
               2019               263
               2020               168
robbery        2018               225
               2019               215
               2020               151
street robbery 2018              1235
               2019              1239
               2020               922
threat         2018              2577
               2019              2763
               2020              2804

In [64]:
district_crimes_ams["District"].value_counts()

K Zuid          18
F Nieuw-West    18
E West          18
N Noord         18
M Oost          18
A Centrum       18
T Zuidoost      18
Name: District, dtype: int64